<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-8">

            <form action="#" th:action="@{/student/save}" th:object="${student}" method="POST">
                <input type="hidden" class="form-control" th:field="*{stuId}"/>
                <br><br>
                <i class="tm-block-title mb-4">Name:</i><br>
                <input type="text" th:field="*{studentName}"
                       class="form-control mb-4 col-4" placeholder="Name">
                <br><br>
                <!--                                  Select demo for loading from a Object list-->
                <i class="tm-block-title mb-4">Department:</i><br>
                <select name="designation" th:field="*{department.depId}">
                    <option th:each="dep : ${departmentList}"
                            th:value="${dep.depId}"
                            th:text="${dep.departmentName}"></option>
                </select><br><br>

                <i class="tm-block-title mb-4">Batch:</i><br>
                <select name="designation" th:field="*{batch.batchId}">
                    <option th:each="batch : ${batchList}"
                            th:value="${batch.batchId}"
                            th:text="${batch.batchName}"></option>
                </select><br>

                <button type="submit" class="btn btn-info col-2">Save</button>

            </form>

            <hr>
            <a th:href="@{/student/}">Back to Student List</a>
        </div>
    </div>
</div>
</body>
</html>