<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <title>Add & View Student with Ajax</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form class="form form-control">

                <input type="hidden" name="stuId"/>
                Name: <input type="text" name="studentName"/><br><br>

                Department: <select name="depId">
                    <option th:each="dep : ${departmentList}"
                            th:value="${dep.depId}"
                            th:text="${dep.departmentName}"></option>
                   </select><br><br>
                Department: <select name="batchId">
                <option th:each="batch : ${batchList}"
                        th:value="${batch.batchId}"
                        th:text="${batch.batchName}"></option>
            </select><br><br>

                <button class="btn badge-primary">Save</button>
                <br><br><br><br>
            </form>
        </div>
    </div>
</div>

<br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-12">

            <h4 class="text-center">All Student List</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Batch</th>


                </tr>
                </thead>
                <tbody class="table-body">

                </tbody>
            </table>

        </div>
        <a class="btn text-center" th:href="@{/student/add}">Add New Student</a>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script th:src="@{/manage-student.js}"></script>

</body>
</html>