<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<br>


</div>
<br><br>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12"><h2>Add a student here</h2></div>
    </div>
    <br>

    <div class="row text-center">
        <div class="col-md-12">

            <table th:class="table">

                <thead>
                <tr bgcolor="aqua">

                    <td>Student Id</td>
                    <td>Student Name</td>
                    <td>Department</td>
                    <td>Batch</td>
                </tr>
                </thead>

                <tbody>
                <th:block th:each="student : ${students}">
                    <tr>
                        <td th:text="${student.stuId}"></td>
                        <td th:text="${student.studentName}"></td>
                        <td th:text="${student.department.departmentName}"></td>
                        <td th:text="${student.batch.batchName}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <br> <br>
            <a th:href="@{/student/add}">Add a new Student</a>
        </div>
    </div>
</div>
</body>
</html>

<!--                        <td><a class="btn btn-primary" th:href="@{'/user/update/'+${u.id}}"> Update </a>-->
<!--                            <a class="btn btn-primary" th:href="@{'/user/delete/'+${u.id}}"> Delete </a></td>-->